@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ff-heading: 'Exo 2', sans-serif;
  --ff-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--ff-primary);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--ff-heading);
}

#quantity {
  -moz-appearance: textfield;
}
