@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ff-heading: 'Exo 2', sans-serif;
  --ff-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--ff-primary);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--ff-heading);
}

#quantity {
  -moz-appearance: textfield;
}

.stepperButton {
  @media (hover: none) {
    width: 1.75rem;
    height: 1.75rem;
  }
}

#product-view .product {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.045);
}

#product-view .left {
  box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.035);
}

#product-view .right {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.035);
}

.product {
  &__link {
    @media (hover: none) {
      justify-content: space-between;
    }

    &--arrow {
      @media (hover: none) {
        opacity: 1;
      }
    }
  }
}

.heart__animation {
  --dimension: 50px;

  width: var(--dimension);
  height: var(--dimension);
  background-image: url('../src/assets/heart.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  animation: heart-animation 750ms steps(28) forwards;
}

@keyframes heart-animation {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    background-position: right;
    opacity: 0;
  }
}
